

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.transparent {
  background-color: rgba(0,0,0,.6);
}


.screenshot {
  width: 400px;
}

.tab-space {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#tab-center {
  margin-left: inherit;
}

.card-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  .parallax-container-hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }

.card-width {
    width: 90%;
   }
  .card-width:hover {
     opacity: .9
   }

.icon-space {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-bottom: 10px;
}

.skills-icon {
  width: 100px
}

#dandelion {
  left: 80%;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

}

@media (min-width : 800px) {
  .card-space {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .card-width {
    width: 40%;
     }
 .skills-icon {
   width: 200px
   }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
